.adress_btn {
  width: 300px;
  height: 317px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #161d20;
  overflow-y: scroll;
  padding: 15px;
}

#friends-display-link {
  text-align: center;
  display: block;
  padding: 5px 0px;
  font-size: 18px;
  margin-top: 5px;
  color: #78909d;
}

#friends-display-link i {
  color: #78909d;
}

.friends-screen {
  margin-top: 10px;
}

.friends-screen__channel {
  margin-top: 10px;
  border-top: 1px solid #78909d;
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #78909d;
  font-size: 13px;
  font-weight: 200;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 0.4s;
}

#splash-screen i {
  color: #ffffff;
}
