.login__column {
  position: relative;
  height: 100vh;
}
.title {
  color: #03c75a;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

.login {
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__input {
  position: relative;
  background-color: #455a65;
  color: #90a4af;
}

.login__input > label {
  position: absolute;
  top: 18px;
  left: 50px;
  font-size: 1em;
  font-weight: 100;
}
.login__id {
  width: 380px;
  height: 50px;
  border: 2px solid #607d8b;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
.login__pw {
  width: 380px;
  height: 50px;
  border: 2px solid #607d8b;
  border-radius: 0px 0px 5px 5px;
}

.login__id:hover {
  height: 48px;
  border: 2px solid #03c75a;
}
.login__pw:hover {
  border: 2px solid #03c75a;
}
.login__input input:focus ~ i {
  color: #eceff1;
}

.login__input input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  color: #eceff1;
  padding: 3px 0px 0px 50px;
  border-radius: 5px;
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login__input i {
  position: relative;
  top: -30px;
  left: 20px;
}

.login__input > input:valid ~ label {
  display: none;
}

.login__btn {
  width: 380px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  background-color: #03c75a;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.login__find,
.login__find > a {
  color: #cfd8dc;
  font-size: 13px;
  font-weight: 200;
}

.login__find > a:last-child {
  color: #03c75a;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
.circle__column {
  position: fixed;
  left: 12px;
  bottom: 30px;
  width: 95%;
  height: 70px;
  background-color: #161d20;
  border-radius: 35px;
  animation: fadeInUp 0.8s ease-in;
  animation-fill-mode: forwards;
  z-index: 99;
}

.circle__column > span {
  position: absolute;
  top: 28px;
  left: 100px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
  animation: fadeInUp 0.8s ease-in;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
